:root {
	--top-bar-height: 2.5rem;
}

*::selection {
	background-color: rgba(78, 84, 200, 0.15);
}

a {
	text-decoration: none;
	display: inline-block;
}

button {
	font-family: inherit;
}

img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: inherit;
	object-fit: cover;
}

.line-clamp-1 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 1;
	-webkit-line-clamp: 1;
}

.line-clamp-2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	-webkit-line-clamp: 2;
}

.line-clamp-3 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	-webkit-line-clamp: 3;
}

.scrollbar {
	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		background-color: #fff;
		opacity: 0;
	}

	&::-webkit-scrollbar-track {
		border-radius: 1px;
		background-color: #e9edf4;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 1px;
		background-color: #aeb4be;
	}
}

@keyframes slide-up {
	from {
		transform: translateY(8px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slide-down {
	from {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
