:root {
	--top-bar-height: 2.5rem;
}

a {
	text-decoration: none;
	display: inline-block;
}

img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: inherit;
}

.scrollbar {
	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		background-color: #fff;
		opacity: 0;
	}

	&::-webkit-scrollbar-track {
		border-radius: 1px;
		background-color: #e9edf4;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 1px;
		background-color: #aeb4be;
	}
}

@keyframes slide-up {
	from {
		transform: translateY(8px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slide-down {
	from {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
